<div class="container-fluid">
  <div class="row flex-row justify-content-around">

    <ng-container *ngFor="let N of itemCollectionSizeOptions">
      <button class="col col-2 btn btn-lg btn-outline-dark" (click)="newItemCollection(N)">
        {{ N }}
      </button>
    </ng-container>

  </div>

  <div class="row">
    <div class="col col-sm-6 col-xl-4 p-2" *ngFor="let item of items$ | async">

      <app-item [person]="item"></app-item>
      <br>
      <div class="float-left">
        <app-stringified-item [item]="item | json"></app-stringified-item>
      </div>

    </div>
  </div>

</div>
