<div #container class="container-fluid p-4 border rounded border-dark"
     [class.active]="isActive"
     (mousemove)="onMouseMove($event)"
     (mouseenter)="onMouseEnter()"
     (mouseleave)="onMouseLeave()">

  <div class="meter-container">
    <app-meter class="h-100 w-100" [ratio]="mousePositionAsRatioOfWidth" (changes)="thereWasAChange()"></app-meter>
  </div>

</div>

<div class="float-left position-relative">
  <h3>
    <strong>{{ heightEvalsDisplay }}</strong> changes
    <br> <strong>{{ durationDisplay }}</strong> seconds
    <br> <strong>{{ rateDisplay }}</strong> changes/sec
  </h3>
</div>
